{% load i18n %}
{% load account_tags %}
{% load extra_tagging_tags %}
{% load tasks_tags %}
{% load avatar_tags %}
{% load shorttimesince_tag %}
{% load threadedcommentstags %}
{% load markup_tags %}
{% load group_tags %}
{% load theme_tags %}

<div class="task clearfix">
    <div class="task-meta">
        <div><b>{% trans "Created" %}</b>: {{ task.created|date }}</div>
        <div><b>{% trans "Modified" %}</b>: {{ task.modified|shorttimesince }} ago</div>
    </div>
    <div class="bulk">
        <h2>#{{ task.id }}: <a href="{{ milestone.get_absolute_url }}">{{ milestone.summary }}</a></h2>
        <p>{% silk "tag_blue" %} {% task_tags milestone group %}</p>
    </div>
</div>
