{% load i18n %}
{% load account_tags %}
{% load extra_tagging_tags %}
{% load tasks_tags %}
{% load avatar_tags %}
{% load shorttimesince_tag %}
{% load threadedcommentstags %}
{% load markup_tags %}
{% load group_tags %}
{% load theme_tags %}

<div class="task clearfix">
    <div class="task-meta">
        <div><b>{% trans "Due" %}</b>: {{ milestone.due|date }}</div>
        <div><b>{% trans "Progress" %}</b>: {{ milestone.progress }}</div>
    </div>
    <div class="bulk">
        <h2>#{{ milestone.id }}: <a href="{{ milestone.get_absolute_url }}">{{ milestone.summary }}</a></h2>
    </div>
</div>
